extends ../Layout_Users.jade
block content
  script.
    function nuevo() {
      window.location.href = "/nuevo_agente";
    }
    $(document).ready(function(){
      $.getJSON('/agentes', { get_param: 'value' }, function(json) {
        $.each(json, function (index, item) {
          var eachrow = "<tr>"
                      + "<td>" + item['nombre'] + "</td>"
                      + "<td>" + item['ip'] + "</td>"
                      + "<td>" + item['descripcion'] + "</td>"
                      + "</tr>";
          $('#tbody').append(eachrow);
        });
      });
    });
  button(onclick='nuevo()', class="btn btn-success") Añadir Nuevo Agente SNMP
  br
  br
  br
  #div1
    table#customers
      thead
        tr
          th Nombre
          th IP
          th Descripción
      tbody#tbody
