extends ../Layout_Users.jade

block content
  h2#header2 Añadir Nuevo Agente SNMP
  script.
    $(document).ready(function() {
      $(".lds-roller").hide();
      $('#form2').hide();
      
      //Cuando se va a guardar el agente snmp verificado en la base de datos
      $('#form2').submit( function(ev) {
        ev.preventDefault();
        $("#nombre_agente2").val($("#nombre").text());
        $("#ip_agente2").val($("#ip_agente1").val());
        $("#descripcion_agente2").val($("#descripcion").text());
        $("#comunidad_agente2").val($("#community1").val());
        $(this).unbind('submit').submit();
      });
      
      //Cuando se va a verificar el agente snmp
      $('#form1').on('submit', function (e) {
      // keep the form from submitting synchronously
          $('#submit1').prop('disabled', true);
          $(".lds-roller").show();
          e.preventDefault();
          //window.location = this.href;
          var $form = $(e.currentTarget);

      //petición post del formulario 1, post, '/nuevo_agente'
        $.ajax({
          url: $('#form1').attr('action'),
          method: $('#form1').attr('method'),
          data: $('#form1').serialize()
        })
        .done(function (response) {
          $("#header2").text("Información del nuevo agente SNMP");
          $('#form1').hide();
          $(".lds-roller").hide();
          $('#form2').show();
          
          var eachrow = "<tr>"
                      + "<td>sysName</td>"
                      + "<td id='nombre'>" + response['sysName'] + "</td>"
                      + "</tr><tr>"
                      + "<td>sysDescr</td>"
                      + "<td id='descripcion'>" + response['sysDescr'] + "</td>"
                      + "</tr>";
          $('#tbody').append(eachrow);
        })
        .fail(function(error){
          $('#submit1').prop('disabled', false);
          $(".lds-roller").hide();
          console.log('failed: ', arguments);
          if(error.responseText == 'showAlert'){
            alert("No se pudo establecer comunicación con el agente SNMP");
          }
        })
      });
    });
  form(method="POST", action="/nuevo_agente", id="form1")
      center
          div(class="form-group")
              label(for="ip_agente") IPv4: 
              input(type="text", name="agente[ip]", id="ip_agente1", placeholder="X.X.X.X",class="form-control texto")
          div(class="form-group") 
              label(for="community") Comunidad: 
              input(type="text", name="agente[community]", id="community1", placeholder="Comunidad",class="form-control texto")
          div
              input(type="submit", value="Verificar Conexión", class="btn btn-success", id="submit1")
  .lds-roller
    div
    div
    div
    div
    div
    div
    div
    div
  #div1
    table#customers
      tbody#tbody
  #div2
    br
    br
    form(method="POST", action="/guardar_agente", id="form2")
        center
            div(class="form-group")
                input(type="hidden", name="agente[nombre]", id="nombre_agente2", class="form-control texto")
            div(class="form-group")
                input(type="hidden", name="agente[ip]", id="ip_agente2", class="form-control texto")
            div(class="form-group") 
                input(type="hidden", name="agente[descripcion]", id="descripcion_agente2", class="form-control texto")
            div(class="form-group") 
                input(type="hidden", name="agente[comunidad]", id="comunidad_agente2", class="form-control texto")
            div
                input(type="submit", value="Agregar Agente", class="btn btn-success", id="submit1")
    
